astroid==3.3.9
blinker==1.9.0
click==8.1.7
colorama==0.4.6
dill==0.4.0
Flask==3.1.1
flask-cors==6.0.0
gunicorn==21.2.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==1.26.4
platformdirs==4.3.7
pylint==3.3.6
python-dotenv==1.1.0
scikit-learn==1.6.1
scipy==1.13.1
threadpoolctl==3.6.0
tomlkit==0.13.2
Werkzeug==3.1.3
